*:focus {
  outline: none;
}

*:focus-visible {
  outline: 4px solid $dark-cerulean;
  outline-offset: 2px;
}

/* Elements */
h1 {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  @include tablet-below {
    font-size: 3.2rem;
  }
}

h2 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
  @include tablet-below {
    font-size: 2rem;
  }
}

h3 {
  font-size: 3.2rem;
  margin-bottom: 0.8rem;
  @include tablet-below {
    font-size: 1.8rem;
  }
}

h1,
h2,
h3 {
  text-align: center;
  font-family: $display-font;
  color: $sky-blue;
  font-weight: 100;
}

label {
  margin-bottom: 0.8rem;
}

input {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  padding-left: 8px;
  border: 1px solid $lt-grey;
  border-radius: 0.8rem;
  height: 50px;
}

label,
input,
button,
span {
  color: $medium-grey;
  font-family: $text-font;
  font-size: 1.6rem;
}

p {
  color: $medium-grey;
  font-family: $text-font;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
  @include tablet-below {
    font-size: 1.6rem;
  }
  &.word {
    color: $dark-cerulean;
    @include tablet-below {
      font-size: 1.8rem;
    }
  }
}

strong {
  color: $nero;
}

textarea {
  font-family: $text-font;
  display: block;
  margin-left: auto;
  margin-right: auto;
  resize: none;
}

button {
  padding: 1.6rem;
  text-decoration: none;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 0.8rem;
  color: $white;
  background-color: $sky-blue;
  font-family: $text-font;
  font-size: 1.6rem;
  width: 40rem;
  min-height: 5rem;
  margin: 0 auto 1.6rem;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transition: all 0.2s ease-in-out;
  }
  &:disabled,
  &.disabled {
    background-color: $lt-grey;
    border: none;
    cursor: not-allowed;
  }
  &.selectable {
    color: $medium-grey;
    background-color: $white;
    border: 2px solid $lt-grey;
  }
  &.selected {
    box-shadow: $boxshadow;
    background-color: $neon-green;
    color: $dark-cerulean;
  }
  &.selected.selectable {
    border: 2px solid $dark-cerulean;
  }
  &.sm-btn {
    background: none;
    border: 1px solid $burnt-orange;
    color: $burnt-orange;
    font-weight: bold;
    font-size: 1.2rem;
    min-height: 2.4rem;
    padding: 0 8px;
  }
  &.choose-word.sm-btn {
    display: block;
    margin: 0 0 1.6rem 0.8rem;
    padding: 8px 16px;
  }
}

a {
  color: $sky-blue;
}

input[type='checkbox'] {
  appearance: none;
  -webkit-appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 8px;
  border-radius: 0.2rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type='checkbox']:checked {
  background-color: $neon-green;
  border: 2px solid $dark-cerulean;
}

input[type='checkbox']:checked:after {
  font-family: $display-font;
  color: $dark-cerulean;
  font-size: 4rem;
  content: '✓';
  margin-bottom: -0.4rem;
  margin-left: -0.7rem;
}

/* Modifiers */

.auto-width {
  width: auto;
}

.bot-margin {
  margin-bottom: 4rem;
}

.align-self {
  align-self: center;
}

.center-text {
  text-align: center;
}

.align-right {
  margin-right: 0;
}

.display-block {
  display: block;
}

.LR-automargin {
  margin-left: auto;
  margin-right: auto;
}

.orange {
  background: $burnt-orange;
}

.word-label {
  font-size: 2.8rem;
}

.add-top-margin {
  margin-top: 2.4rem;
}

.no-bottom-margin {
  margin-bottom: 0;
}

//hide labels, from Manuel Matuzović:
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
}

/* Classes/Ids */

section.text-content,
div.text-content {
  margin-bottom: 4rem;

  h3 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  p {
    margin-bottom: 4rem;
  }
}

div.visual-line-break {
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid $nero;
}

.or {
  font-family: $display-font;
  color: $sky-blue;
  text-align: center;
  font-size: 1.8rem;
  vertical-align: middle;
  margin: 20px auto 20px auto;
}

//error
.error {
  position: absolute;
  text-align: center;
  color: $burnt-orange;
  font-family: $display-font;
}

.outside-error {
  margin: 0 auto 1.6rem auto;
  width: auto;
  text-align: center;
  background-color: $white;
  border-radius: 16px;
  padding: 8px 16px 8px 16px;
  font-size: 1.8rem;
  color: $burnt-orange;
  font-family: $display-font;
}

.host-dropdown {
  width: 16rem;
  height: 5rem;
  border-radius: 8px;
  margin-bottom: 1.6rem;
  padding-left: 0.8rem;
}

#definition {
  width: 100%;
}

.player-submitted {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 16px;
  word-wrap: break-word;

  h3 {
    margin-top: 0;
  }
}

.player-guess {
  text-align: center;
}

.player-display {
  margin: 4rem auto 4rem auto;
  width: 61rem;
  max-width: 100%;
  .player-h2 {
    color: $burnt-orange;
    text-align: left;
    font-size: 2.4rem;
    @include tablet-below {
      text-align: center;
    }
  }
  @include tablet-below {
    margin-top: 0.8rem;
  }
}

.error-div {
  margin: 8px auto;
}

.player-lobby {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 16px;

  .players {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: $white;
    border: 1px solid $lt-grey;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 0 8px 16px 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

    @include tablet-below {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 8px 16px;
      margin: 0 0 8px 0;
    }
    &.submitted {
      color: $dark-cerulean;
      border: 2px solid $dark-cerulean;
      background: $neon-green;
      p {
        color: $dark-cerulean;
      }
    }
    .player {
      font-family: $display-font;
      font-size: 1.6rem;
      margin-bottom: 0;
      padding: 0.8rem;
      @include tablet-below {
        font-size: 1.4rem;
      }
    }
    p.player-score {
      margin: 0 auto;
      font-size: 1.4rem;
      @include tablet-below {
        font-size: 1.2rem;
        margin: 0;
      }
    }
  }
}
