// General styles across components

// For testing, update later
h1,
h2 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

p,
label,
input,
button,
a,
span {
  font-size: 2.4rem;
}

a {
  color: white;
}

.submitted {
  color: red;
}

button {
  &.selected {
    background: blue;
    color: white;
  }
}

.word-choice {
  display: block;
}

.game-page,
.player-list,
.room-code {
  padding: 2rem;
}

.definition {
  margin: 2rem auto;
  .definition-key {
    color: white;
    margin-right: 2rem;
    background: black;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;

    p {
      width: 100%;
      text-align: center;
      padding: 0.5rem 0;
    }
  }
}
