// Set box-sizing globally
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

// Ensure the app containers fills the screen
html,
body,
#root {
  min-height: 100vh;
}

// Set the font-size so 1rem = 10px for easier styling
html {
  font-size: 62.5%;
}

input,
label {
  display: block;
}

// Font Variables
$text-font: "Roboto", sans-serif;
$display-font: "Bangers", sans-serif;

// Media Query Sizes
$mid: 500px;
$tablet: 650px;
$large: 800px;

//box-shadow
$boxshadow: 4px 4px 4px rgba(0, 0, 0, 0.25);

// NEW COLORS
$blue: #3884ff;
$hover-blue: #5872ff;
$lt-orange: #f7bc50;
$orange: #f66700;
$jade: #00b67d;
$medium-grey: #5a5b5b;
$seafoam: #34c9ad;
$dark-blue: #40537f;
$white: #ffffff;
$charcoal: #343434;
$red: #f64141;
$ltblue: #85c7f2;
$bright-blue: #2462d9;
$otherblue: #4558c1;
$rose: #d97f9f;
$green: #297c12;
$lime: #bfd349;
$royal-blue: #162ca7;
$purpleblue: #40537f;
$lt-grey: #c4c4c4;
$black: #000;

//new colors
$neon-green: #D5FF2E;
$sky-blue: #1DA1F2;
//finale colors
$gold: #FFD645;
$gold-outline: #FFB800;
$silver: #C4C4C4;
$silver-outline: #8C8B8B; 
$bronze: #E08C29;
$bronze-outline: #9F4C00;


#root {
  font-size: 16px;
  background-color: $purpleblue;
}

// Put footer at the bottom
.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App > div:not(.modal-wrapper):not(.cookie-popup) {
  background-color: $purpleblue;
  display: flex;
  flex-flow: column nowrap;
}

textarea {
  font-family: $text-font;
}
