.copy-to-clipboard {
    position: absolute;
    bottom: 2.7rem;
    right: -5rem;
    font-size: 4rem;
    color: $sky-blue;
    cursor: pointer;

    @include large-below {
        font-size: 3rem;
        right: -4rem;
    }
}
