.expander {
  .expander-header {
    width: 100%;
    margin: 0 auto 2rem;
    font-family: $display-font;
    font-size: 2rem;
    padding: 0;
    color: $burnt-orange;
    background: none;
  }
  .expander-content {
    margin: 2rem 0;
    width: 100%;
  }
  .expander-icon {
    margin-left: 0.5rem;
    color: inherit;
    transition-duration: 0.5s;

    svg {
      transition-duration: 0.2s;
    }
    &.expanded svg {
      transform: scaleY(-1);
    }
  }
}
