footer {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: $white;
  margin-top: 4rem;

  @include large-below {
    flex-direction: column;
  }
  .flex-container {
    display: flex;
    height: 5rem;
  }
  .display-font {
    font-family: $display-font;
  }
}
