// Header - the bar at the top of the screen
header {
  width: 300px;
  height: 16rem;
  max-width: 100%;
  padding: 0.8rem 0;
  color: $white;

  .trick-logo {
    display: block;
    width: 22rem;
  }

  p {
    color: $white;
    margin-top: 8px;
    margin-left: 1.6rem;
    margin-bottom: 0;
    font-family: $text-font;
    font-size: 1.8rem;
  }
  .welcome-word {
    margin-left: 3.2rem;
    margin-top: 0;
    margin-bottom: 4rem;
  }
}
