// Header - the bar at the top of the screen
header {
  display: flex;
  width: 340px;
  flex-direction: column;
  align-items: flex-start;
  background-color: $purpleblue;
  padding: 0.8rem 0;
  color: $white;

  .trick-logo {
    display: block;
    width: 200px;
  }

  p {
    margin-top: 8px;
    font-family: $text-font;
    font-size: 1.8rem;
  }
}
