.game-container {
  max-width: 100vw;
  padding: 2.4rem;
}

.game-page {
  margin: 0 auto;
  max-width: 82rem;
  width: 100%;
  background-color: $lighter-grey;
  border-radius: 24px;

  .bottom-radius {
    border-radius: 0 0 24px 24px;
    overflow: hidden;
  }

  h1,
  p.instructions {
    text-align: center;
  }

  h1 {
    margin-bottom: 1rem;
  }

  @include tablet-below {
    padding: 2.4rem 2.4rem;
  }
  #username,
  #lobby-code {
    width: 57rem;
    max-width: 100%;
    height: 40px;
  }
  &p.welcome-word {
    font-size: 1.4rem;
  }
  &.margin-top {
    margin-top: 4rem;
    h2 {
      font-size: 6.4rem;
    }
  }
  &.margin-bottom {
    margin-bottom: 4rem;
  }
}
