.lobby.game-page {
  padding-left: 12.5rem;
  padding-right: 12.5rem;
  @include mid-below {
    padding: 1.6rem 2.4rem;
  }
}

.lobby-button {
  width: 40rem;
  max-width: 100%;
}

.host.lobby-button {
  color: $burnt-orange;
  background-color: $white;
  font-weight: 700;
  border: 1px solid $burnt-orange;
  box-sizing: border-box;
  &:disabled {
    background-color: $lt-grey;
  }
}

.join.lobby-button {
  margin-top: 40px;
}

.start-buttons {
  text-align: center;
}

