@import "../../mixins.scss";
@import "../../globals.scss";

.lobby-button {
  width: 40rem;
  max-width: 100%;
}

.host.lobby-button {
  color: $burnt-orange;
  background-color: $white;
  font-weight: 700;
  border: 1px solid $burnt-orange;
  box-sizing: border-box;
  &:disabled {
    background-color: $lt-grey;
  }
}

.join.lobby-button {
  margin-top: 40px;
}

.lobby.game-page {
  padding-left: 12.5rem;
  padding-right: 12.5rem;
}

.start-buttons {
  text-align: center;
}

