@import '../../mixins.scss';
@import '../../globals.scss';

.lobby-button {
  width: 100%;
}

.host.lobby-button{
    // border: 1px solid $dark-blue;
    background-color: $orange;
    color: $white;
    font-weight: 700;
}

.start-game {
  .or {
    font-family: 'Bangers';
    font-size: 1.8rem;
    text-align: center;
    font-size: 1.8rem;
    vertical-align: middle;
    margin: 20px auto 20px auto;
  }
}
