@import '../../mixins.scss';
@import '../../globals.scss';

.lobby-button {
  width: 100%;
}

.host.lobby-button{
    // border: 1px solid $dark-blue;
    background-color: $orange;
    color: $white;
    font-weight: 700;
}

.join.lobby-button{
  margin-top: 40px;
}