@import '../../mixins.scss';
@import '../../globals.scss';

.selected {
  background-color: $orange;
}

p.room-code {
  font-family: $display-font;
  font-size: 2.4rem;
  text-align: center;
  margin: 2rem 0 2rem 0;
}

.pick-word-instructions {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 40px;

  .pick-instructions {
    width: 85%;
    font-size: 1.4rem;
    margin-bottom: 1.6rem;
  }
}

.word-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 16px;
  padding: 24px;
  border: 2px dashed $hover-blue;
  margin: 3.2rem 0;

  .word-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .word-definition {
    width: 75%;

    .sm-word {
      color: $royal-blue;
      font-size: 1.4rem;
      font-weight: 700;
      margin-bottom: 0.8rem;
    }
    .word {
      font-family: $display-font;
      font-size: 2.4rem;
      margin: 1.6rem 0;
    }
  }
}

.timer-container {
  .timer-title {
    color: $red;
    font-size: 3.6rem;
    font-family: $display-font;
    text-align: center;
    margin-top: 24px;
  }
  .timer-directions {
    text-align: center;
  }
  .timer-itself {
    border: none;
    margin: 0 auto;
    background: $orange;
    color: $white;
    font-family: $display-font;
    font-size: 1.8rem;
  }
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  background: #eee url('../../../assets/arrows.png') no-repeat 50% 50%;
  width: 15px;
  height: 20px;
  padding: 0;
  position: relative;
  right: 4px;
  cursor: pointer;
  display: block;
  width: 8px;
  color: $white;
  text-align: center;
}
