.selected {
	background-color: $neon-green;
	color: $dark-cerulean;
}

.pick-word-instructions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	margin: 0 2.4rem;
	p.instructions {
		margin-bottom: 1.6rem;
		@include mid-below {
			width: 100%;
		}
	}
	@include mid-below {
		justify-content: center;
		margin: 0 0 1.6rem 0;
    	width: 100%;
	}
}

.word-block {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 16px;
	padding: 24px;
	border: 1px solid $sky-blue;
	margin-top: 3.2rem;
	@include mid-below {
		flex-direction: column;
	}

	.word-column {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
	}

	#word {
		width: 100%;
	}

	.word-definition {
		width: 100%;
	}

	.sm-word {
		color: $dark-cerulean;
		font-size: 1.4rem;
		font-weight: 700;
		margin-bottom: 0.8rem;
	}
	.word {
		font-family: $display-font;
		font-size: 2.4rem;
		margin: .8rem 0 1.6rem 0;
		word-break: break-word;
	}
}

.use-own-words {
	margin-top: 1.6rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	@include mid-below {
		flex-direction: column;
		align-items: center;;
	}
}

.timer-container {
	margin-top: 4.8rem;
	.timer-title {
		font-family: $display-font;
		text-align: center;
		margin-top: 24px;
	}
	.timer-directions {
		text-align: center;
	}
	.timer-itself {
		align-items: center;
		margin: 0 auto;
		width: 8rem;
		font-size: 3.2rem;
	}
}

input[type="number"]::-webkit-inner-spin-button {
	opacity: 1;
	padding: 0;
	right: 8px;
	height: 4rem;
	cursor: pointer;
}

.edit-name-block {
	display: flex;
	justify-content: flex-end;
	.edit-name {
	  width: 150px;
	  height: 50px;
	  background-color: $sky-blue;
	}
  }
  
  .edit-name-form {
	display: flex;
	flex-direction: column;
	margin: 1.6rem auto 1.6rem auto;
	padding: 1.6rem;
	border-radius: 8px;
	border: 2px solid $dark-blue;
	.button {
	  float: right;
	  color: $sky-blue;
	}
}

.short.error {
position: relative;
}