.writing.game-page {
    padding: 4.8rem 5.6rem;
    @include tablet-below {
        padding: 2.4rem 2.8rem;
    }
    p.instructions {
        margin: .8rem auto 0 auto;
        text-align: left;
        width: 65rem;
        max-width: 100%;
    }
}

.guess-word {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    word-break: break-word;
    max-width: 100%;
    width: fit-content;
    text-align: center;
    margin: 4rem auto;
    padding: 24px;
    @include tablet-below {
        align-items: center;
        width: 100%;
        flex-direction: column;
    }
    .word {
      font-size: 4.8rem;
      font-family: $display-font;
      margin: 0 0 0 1.6rem;
      background: $neon-green;
      padding: .8rem 4rem;
      border-radius: 8px;
      border: 2px solid $dark-cerulean;
      @include tablet-below {
        font-size: 2.4rem;
        margin-left: 0;
      }
    }
    p {
      color: $sky-blue;
      font-family: $display-font;
    }
  }
  .times-up-container {
    text-align: center;
    margin-top: 24px;
    .times-up {
      text-align: center;
      margin: 0 0 2.4rem 0;
      font-size: 2.4rem;
      font-family: $display-font;
      color: $burnt-orange;
      animation: blinker 1s linear infinite;
    }
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
    .times-up-button {
      margin: 4.8rem auto 0 auto;
      width: 40rem;
      background-color: $burnt-orange;
      max-width: 100%;
    }
  }