.writing.game-page {
  padding: 4.8rem 5.6rem;

  @include tablet-below {
    padding: 2.4rem 2.8rem;
  }
  p.instructions {
    margin: 0.8rem auto 0 auto;
    text-align: left;
    width: 65rem;
    max-width: 100%;
  }
}

.times-up-container {
  text-align: center;
  margin-top: 24px;

  .times-up {
    text-align: center;
    margin: 0 0 2.4rem 0;
    font-size: 2.4rem;
    font-family: $display-font;
    color: $burnt-orange;
    animation: blinker 1s linear infinite;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
  .times-up-button {
    margin: 4.8rem auto 0 auto;
    width: 40rem;
    background-color: $burnt-orange;
    max-width: 100%;
  }
}

.submit-definition {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
